{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

	<title>List of Invoices</title>
	<head>
	
			
			<link href="{% static 'css\stylesheet.css' %}" rel="stylesheet">
		
	</head>

	<body id="page-top">
		{% include 'navbar.html' %}
		<div style="width:95%;  ">
		{% if messages %}
				<ul class="messages">
					   {% for message in messages %}
							 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					   {% endfor %}
			   </ul>
			{% endif %}
			</div>
			<br> <br> <br> 
	
	
	<div class="container-fluid" style="align-content: center; width: 95%;"> 
	
			<form method='POST' action='' >{% csrf_token %}
				{{form|crispy}}
					<input type="submit" value='Search'/>
			</form>
	
		</div>
	<br>
	<div class="table-responsive"> 
	<table class='table' style="font-size: 12px; color:black" >
        <thead style="color:black">
          <tr>
           <th> #PNR</th>
            <th>Service Name</th>
            <th>Remarks</th>
			<th>Actions/Alterations</th>
			
          </tr>
        </thead>
      {% for instance in queryset %}
          <tr>
            <td>{{instance.id}}</td>
            <td>{{instance.service_name}}</td>
            <td>{{instance.remarks}}</td>
          
			<td type = button  style=" background-color: blue; border-radius: 10px;"><a style="color: white; font-weight: bolder;   "href="{% url 'update_Service' instance.id %}">Update</a></td>
			<td type = button  style="background-color: brown; border-radius: 10px;"><a style="color:white; font-weight: bolder;  border-radius: 25px;" href="{% url 'delete_service' instance.id %}">Delete</a></td>
			
          </tr>
      {% endfor %}
    </table>
    </div>
	<br><br><br><br><br>
	<a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    
    {% include 'footer.html' %}
    <!-- Bootstrap core JavaScript-->
    
	

</body>
</html>