{% load static %}
{% load crispy_forms_tags %}
{% include 'navbar.html' %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">

	

</head>
<body  id="page-top"> 
	<div class="container-fluid">
        <form role="form" method='post' action='{% url 'profit_calculations'%}'>
            <tr>
             {% csrf_token %}

                <td><select name="month" value="">

                   <option value="1">January</option>
                   <option value="2">February</option>
                   <option value="3">March</option>
                   <option value="4">April</option>
                   <option value="5">May</option>
                   <option value="6">June</option>
                   <option value="7">July</option>
                   <option value="8">August</option>
                   <option value="9">September</option>
                   <option value="10">October</option>
                   <option value="11">November</option>
                   <option value="12">December</option>
                    </select></td>
                 <td><select name="year">
                   <option value="2015">2015</option>
                   <option value="2016">2016</option>
                   <option value="2017">2017</option>
                   <option value="2018">2018</option>
                   <option value="2019">2019</option>
                   <option value="2020">2020</option>
                   <option value="2021">2021</option>
                   <option value="2022">2022</option>
                   <option value="2023">2023</option>
                   <option value="2024">2024</option>
                   <option value="2025">2025</option>
                   <option value="2026">2026</option>
                </select></td>
           <td>
           <input type='submit' value='search' />
           </td>
           </tr>
           </form>
<br><br>
<hr>
           <div class="container" style="color: #000000;">

            <h2>Monthy Details</h2>
            <div class="row">
              <div class="col">Monthly profit from sales:&nbsp{{received_profit}}</div>
              <div class="col">Monthly pending:&nbsp{{pending_monthly}}</div>
              <div class="w-100"></div>
              <div class="col">Monthly receiving:&nbsp{{received_profit}}</div>
              <div class="col">Monthly Expenses:&nbsp{{amount_monthly}}</div>
             
            </div>
            <p style="background-color: #E0E0E0; width: 30%;">Monthly Profit - Monthly Expenses:&nbsp{{net_profit}}</p>
          </div>
          <hr>
          <div class="container"  style="color: #000000;">
            <h2>Yearly Details</h2>
            <div class="row">
              <div class="col">Yearly profit from sales:&nbsp{{received_profit_yearly}}</div>
              <div class="col">Yearly pending:&nbsp{{pending_yearly}}</div>
              <div class="w-100"></div>
              <div class="col">Yearly receiving:&nbsp{{received_yearly}}</div>
              <div class="col">Yearly Expenses:&nbsp{{amount_yearly}}</div>
             
            </div>
            <p style="background-color: #E0E0E0; width: 30%;">Yearly Profit - Yearly Expenses:&nbsp{{net_profit_yearly}}</p>
          </div>

	</div>
	<br><br><br>
	{% include 'footer.html' %}
</body>
</html>