{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

	<title>List of Invoices</title>
	<head>
	
			<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
			<link href="{% static 'css\stylesheet.css' %}" rel="stylesheet">
		
	</head>

	<body id="page-top">
		{% include 'navbar.html' %}
		
	
	

	
	<br>
	<div class="table-responsive"> 
		<form method="POST" >
			{% csrf_token %}
			<div class="row">
				<div class="col-sm">
			<label for="Startdate">Start Date </label>
	  <input type="date" name="startdate"/>
	  <label for="Startdate">&nbsp;&nbsp;&nbsp;&nbsp;End Date </label>
	  <input type="date" name="enddate"/>
	  <button class="btn btn-light"><input  class="dropdown-item" type="submit" style="background-color:blue; color:white;" name="Filter" value="filter" style ="width: 100%; background-color: white;"/></button>
	   <br><br>
				</div>
				</div>
	   <div class="dropdown" style="margin-left: 80px;">
		<button style="background-color:#4B70DC" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Report Options
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
		  
		  <a class="dropdown-item" href="{% url 'pdf_view' %}" target="_blank" style ="width: 100%; background-color: white;">Print All</a>
		  <input  class="dropdown-item" type="submit" name="selected" value="Print Selected" style ="width: 100%; background-color: white;"/>
		  <a class="dropdown-item" href="{% url 'multiple_record' %}" target="_blank" style ="width: 100%; background-color: white;">Print Multiple Record </a>
		</div><a href="#demo" class="btn btn-info"  style="background-color:#4B70DC;" data-toggle="collapse"><i class="fa fa-filter" aria-hidden="true"></i></a>
		
		
	 <br>
	 <div id="demo" class="collapse" style="">
		 <br>
	  
		 <div id="demo" class="collapse" style="margin-left:-80px;">
			<div class="row">
				<div class='col-sm-6'>
					<div class="form-row">
			 <div class="form-group col-md-6">
			 {{ form.sale_number|as_crispy_field }}
			
			 {{ form.date|as_crispy_field }}
			
			</div>
			<div class="form-group col-md-6">
				
				{{ form.purchase|as_crispy_field }}
				{{ form.custumer_name|as_crispy_field }}
			</div>
		</div>
	         </div>
	</div></div></div>
	
			   
	</form>
</div>
	   
	 
	   <hr>
	   <br>
	<table class='table' style="font-size: 12px; color:black;">
        <thead>
          <tr>
			

            <th>#PNR</th>
			<th>Travel Date</th>
			<th> Sale Date </th>
            <th>Custumer Name</th>
			<th>Sale Price</th>
			<th>Passenger </th>
			<th>Destination </th>
			<th>Purchase Price</th>
			<th>Profit</th>
			<th>Received Amount</th>
			<th>Pending Amount</th>
			<th>Remarks</th>
            <th>Actions/Alterations</th>
			
          </tr>
        </thead>
		
	  {% if queryset2 %}
      {% for instance in queryset2 %}
          <tr>
			
            <td>{{instance.sale_number}}</td>
			<td>{{instance.date}}</td>
			<td>{{instance.travel_date}}</td>
            <td>{{instance.custumer_name}}</td>
            <td>{{instance.sale_price}}</td>
            <td>{{instance.purchase}}</td>
			<td>{{instance.Destination}}</td>
			<td>{{instance.purchase_price}}</td>
			<td>{{instance.profit}}</td>
			<td>{{instance.received}}</td>
			<td>{{instance.pending}}</td>
			<td>{{instance.remarks}}</td>
			<td type = button  style=" background-color: blue; border-radius: 10px;"><a style="color: white; font-weight: bolder;   "href="{% url 'ViewPDF_print' instance.id %}">Print</a></td>
			
			
          </tr>
      {% endfor %}
	  {% elif queryset %}
	  {% for instance in queryset %}
	  
      
          <tr>
			
            <td>{{instance.sale_number}}</td>
			<td>{{instance.date}}</td>
			<td>{{instance.travel_date}}</td>
            <td>{{instance.custumer_name}}</td>
            <td>{{instance.sale_price}}</td>
            <td>{{instance.purchase}}</td>
			<td>{{instance.Destination}}</td>
			<td>{{instance.purchase_price}}</td>
			<td>{{instance.profit}}</td>
			<td>{{instance.received}}</td>
			<td>{{instance.pending}}</td>
			<td>{{instance.remarks}}</td>
			<td type = button  style=" background-color: blue; border-radius: 10px;"><a style="color: white; font-weight: bolder;   "href="{% url 'ViewPDF_print' instance.id %}">Print</a></td>
			
			
          </tr>
      {% endfor %}
	  {% endif %}
    </table>

    </div>
	<br><br><br><br><br>
	<a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    
    {% include 'footer.html' %}
    <!-- Bootstrap core JavaScript-->
    

    <!-- Page level custom scripts -->
    
	
	<script>
		function myFunction() {
			var name = document.getElementById("userid").value;
		}
		</script>	

</body>
</html>